.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Corpus.xml
.idea/libraries/Dictionary.xml
.idea/libraries/WordNet.xml
out/production/TestChallenge/Discourse/okubeni.txt
out/production/TestChallenge/libs/Corpus.jar
out/production/TestChallenge/libs/Dictionary.jar
out/production/TestChallenge/libs/WordNet.jar
out/production/TestChallenge/Similarity/BlockDistance.class
out/production/TestChallenge/Similarity/Choices.class
out/production/TestChallenge/Similarity/Instances.class
out/production/TestChallenge/Similarity/JaccardSimilarityIOld.class
out/production/TestChallenge/Similarity/LevenshteinDistance.class
out/production/TestChallenge/Similarity/ModelMain.class
out/production/TestChallenge/Similarity/OverlapCoefficient.class
out/production/TestChallenge/Similarity/QgramSimilarityIOld.class
out/production/TestChallenge/Similarity/QType.class
out/production/TestChallenge/Similarity/QTypes.class
out/production/TestChallenge/Similarity/Question.class
out/production/TestChallenge/Similarity/run.class
out/production/TestChallenge/Similarity/Sentences.class
out/production/TestChallenge/Similarity/SimilarityMeasures.class
out/production/TestChallenge/Similarity/Token.class
out/production/TestChallenge/Similarity/Tokens.class
out/production/TestChallenge/Similarity/Model/SentenceSimilarityModel.class
out/production/TestChallenge/Similarity/Segmenters/okubeni.txt
out/production/TestChallenge/Similarity/Segmenters/Segmenter.class
out/production/TestChallenge/Similarity/Segmenters/SyllableSegmenter.class
out/production/TestChallenge/Similarity/Segmenters/WordSegmenter.class
out/production/TestChallenge/Similarity/SentenceSim/JaccardSimilarity.class
out/production/TestChallenge/Similarity/SentenceSim/OldSentenceSimilarity.class
out/production/TestChallenge/Similarity/SentenceSim/SentenceSimilarity.class
out/production/TestChallenge/Similarity/WordNet/SentenceLevelSimilarity.class
out/production/TestChallenge/TestChallenge/Discourse/DummyModelRunner.class
out/production/TestChallenge/TestChallenge/Discourse/StaticModelRunner.class
out/production/TestChallenge/TestChallenge/Discourse/Evaluation/Metrics.class
out/production/TestChallenge/TestChallenge/Discourse/Models/BaseModel.class
out/production/TestChallenge/TestChallenge/Discourse/Models/DummyModel.class
out/production/TestChallenge/TestChallenge/Discourse/Models/StaticModel.class
out/production/TestChallenge/TestChallenge/Discourse/ParseXML/QT8.class
out/production/TestChallenge/TestChallenge/Discourse/ParseXML/XMLParser.class
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/TestChallenge.iml
.idea/libraries/nlptoolkit_29_06_17.xml
.idea/libraries/libs.xml
.idea/kotlinc.xml
.idea/dictionaries/windows_10.xml
.idea/dbnavigator.xml
*.iml
*.class
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/TestChallenge.iml
.idea/libraries/nlptoolkit_29_06_17.xml
.idea/dictionaries/windows_10.xml
.idea/dbnavigator.xml
.idea/dbnavigator.xml
.idea/dictionaries/windows_10.xml
.idea/libraries/nlptoolkit_29_06_17.xml
.idea/TestChallenge.iml
.idea/uiDesigner.xml
.idea/vcs.xml
