.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Corpus.xml
.idea/libraries/Dictionary.xml
.idea/libraries/WordNet.xml
out/production/TestChallenge/Discourse/okubeni.txt
out/production/TestChallenge/libs/Corpus.jar
out/production/TestChallenge/libs/Dictionary.jar
out/production/TestChallenge/libs/WordNet.jar
out/production/TestChallenge/Similarity/BlockDistance.class
out/production/TestChallenge/Similarity/Choices.class
out/production/TestChallenge/Similarity/Instances.class
out/production/TestChallenge/Similarity/JaccardSimilarityIOld.class
out/production/TestChallenge/Similarity/LevenshteinDistance.class
out/production/TestChallenge/Similarity/ModelMain.class
out/production/TestChallenge/Similarity/OverlapCoefficient.class
out/production/TestChallenge/Similarity/QgramSimilarityIOld.class
out/production/TestChallenge/Similarity/QType.class
out/production/TestChallenge/Similarity/QTypes.class
out/production/TestChallenge/Similarity/Question.class
out/production/TestChallenge/Similarity/run.class
out/production/TestChallenge/Similarity/Sentences.class
out/production/TestChallenge/Similarity/SimilarityMeasures.class
out/production/TestChallenge/Similarity/Token.class
out/production/TestChallenge/Similarity/Tokens.class
out/production/TestChallenge/Similarity/Model/SentenceSimilarityModel.class
out/production/TestChallenge/Similarity/Segmenters/okubeni.txt
out/production/TestChallenge/Similarity/Segmenters/Segmenter.class
out/production/TestChallenge/Similarity/Segmenters/SyllableSegmenter.class
out/production/TestChallenge/Similarity/Segmenters/WordSegmenter.class
out/production/TestChallenge/Similarity/SentenceSim/JaccardSimilarity.class
out/production/TestChallenge/Similarity/SentenceSim/OldSentenceSimilarity.class
out/production/TestChallenge/Similarity/SentenceSim/SentenceSimilarity.class
out/production/TestChallenge/Similarity/WordNet/SentenceLevelSimilarity.class
out/production/TestChallenge/TestChallenge/Discourse/DummyModelRunner.class
out/production/TestChallenge/TestChallenge/Discourse/StaticModelRunner.class
out/production/TestChallenge/TestChallenge/Discourse/Evaluation/Metrics.class
out/production/TestChallenge/TestChallenge/Discourse/Models/BaseModel.class
out/production/TestChallenge/TestChallenge/Discourse/Models/DummyModel.class
out/production/TestChallenge/TestChallenge/Discourse/Models/StaticModel.class
out/production/TestChallenge/TestChallenge/Discourse/ParseXML/QT8.class
out/production/TestChallenge/TestChallenge/Discourse/ParseXML/XMLParser.class
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/TestChallenge.iml
.idea/libraries/nlptoolkit_29_06_17.xml
.idea/libraries/libs.xml
.idea/kotlinc.xml
.idea/dictionaries/windows_10.xml
.idea/dbnavigator.xml
*.iml
*.class
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/TestChallenge.iml
.idea/libraries/nlptoolkit_29_06_17.xml
.idea/dictionaries/windows_10.xml
.idea/dbnavigator.xml
.idea/dbnavigator.xml
.idea/dictionaries/windows_10.xml
.idea/libraries/nlptoolkit_29_06_17.xml
.idea/TestChallenge.iml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/libraries/Maven__NlpToolkit_DataStructure_1_0_0.xml
.idea/libraries/Maven__NlpToolkit_Dictionary_1_0_1.xml
.idea/libraries/Maven__NlpToolkit_MorphologicalAnalysis_1_0_1.xml
target/TestChallenge-1.0.0.jar
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/TestChallenge-1.0.0-javadoc.jar
target/TestChallenge-1.0.0-sources.jar
target/apidocs/allclasses-frame.html
target/apidocs/allclasses-noframe.html
target/apidocs/constant-values.html
target/apidocs/deprecated-list.html
target/apidocs/help-doc.html
target/apidocs/index-all.html
target/apidocs/index.html
target/apidocs/overview-frame.html
target/apidocs/overview-summary.html
target/apidocs/overview-tree.html
target/apidocs/package-list
target/apidocs/script.js
target/apidocs/serialized-form.html
target/apidocs/stylesheet.css
target/apidocs/Discourse/DummyModelRunner.html
target/apidocs/Discourse/package-frame.html
target/apidocs/Discourse/package-summary.html
target/apidocs/Discourse/package-tree.html
target/apidocs/Discourse/package-use.html
target/apidocs/Discourse/StaticModelRunner.html
target/apidocs/Discourse/class-use/DummyModelRunner.html
target/apidocs/Discourse/class-use/StaticModelRunner.html
target/apidocs/Discourse/Evaluation/Metrics.html
target/apidocs/Discourse/Evaluation/package-frame.html
target/apidocs/Discourse/Evaluation/package-summary.html
target/apidocs/Discourse/Evaluation/package-tree.html
target/apidocs/Discourse/Evaluation/package-use.html
target/apidocs/Discourse/Evaluation/class-use/Metrics.html
target/apidocs/Discourse/Models/BaseModel.html
target/apidocs/Discourse/Models/DummyModel.html
target/apidocs/Discourse/Models/package-frame.html
target/apidocs/Discourse/Models/package-summary.html
target/apidocs/Discourse/Models/package-tree.html
target/apidocs/Discourse/Models/package-use.html
target/apidocs/Discourse/Models/StaticModel.html
target/apidocs/Discourse/Models/class-use/BaseModel.html
target/apidocs/Discourse/Models/class-use/DummyModel.html
target/apidocs/Discourse/Models/class-use/StaticModel.html
target/apidocs/Discourse/ParseXML/package-frame.html
target/apidocs/Discourse/ParseXML/package-summary.html
target/apidocs/Discourse/ParseXML/package-tree.html
target/apidocs/Discourse/ParseXML/package-use.html
target/apidocs/Discourse/ParseXML/QT8.html
target/apidocs/Discourse/ParseXML/XMLParser.html
target/apidocs/Discourse/ParseXML/class-use/QT8.html
target/apidocs/Discourse/ParseXML/class-use/XMLParser.html
target/apidocs/Similarity/BlockDistance.html
target/apidocs/Similarity/Choices.html
target/apidocs/Similarity/Instances.html
target/apidocs/Similarity/JaccardSimilarityIOld.html
target/apidocs/Similarity/LevenshteinDistance.html
target/apidocs/Similarity/ModelMain.html
target/apidocs/Similarity/OverlapCoefficient.html
target/apidocs/Similarity/package-frame.html
target/apidocs/Similarity/package-summary.html
target/apidocs/Similarity/package-tree.html
target/apidocs/Similarity/package-use.html
target/apidocs/Similarity/QgramSimilarityIOld.html
target/apidocs/Similarity/QType.html
target/apidocs/Similarity/QTypes.html
target/apidocs/Similarity/Question.html
target/apidocs/Similarity/run.html
target/apidocs/Similarity/Sentences.html
target/apidocs/Similarity/SimilarityMeasures.html
target/apidocs/Similarity/Token.html
target/apidocs/Similarity/Tokens.html
target/apidocs/Similarity/class-use/BlockDistance.html
target/apidocs/Similarity/class-use/Choices.html
target/apidocs/Similarity/class-use/Instances.html
target/apidocs/Similarity/class-use/JaccardSimilarityIOld.html
target/apidocs/Similarity/class-use/LevenshteinDistance.html
target/apidocs/Similarity/class-use/ModelMain.html
target/apidocs/Similarity/class-use/OverlapCoefficient.html
target/apidocs/Similarity/class-use/QgramSimilarityIOld.html
target/apidocs/Similarity/class-use/QType.html
target/apidocs/Similarity/class-use/QTypes.html
target/apidocs/Similarity/class-use/Question.html
target/apidocs/Similarity/class-use/run.html
target/apidocs/Similarity/class-use/Sentences.html
target/apidocs/Similarity/class-use/SimilarityMeasures.html
target/apidocs/Similarity/class-use/Token.html
target/apidocs/Similarity/class-use/Tokens.html
target/apidocs/Similarity/Model/package-frame.html
target/apidocs/Similarity/Model/package-summary.html
target/apidocs/Similarity/Model/package-tree.html
target/apidocs/Similarity/Model/package-use.html
target/apidocs/Similarity/Model/SentenceSimilarityModel.html
target/apidocs/Similarity/Model/SentenceSimilarityPair.html
target/apidocs/Similarity/Model/class-use/SentenceSimilarityModel.html
target/apidocs/Similarity/Model/class-use/SentenceSimilarityPair.html
target/apidocs/Similarity/Segmenters/package-frame.html
target/apidocs/Similarity/Segmenters/package-summary.html
target/apidocs/Similarity/Segmenters/package-tree.html
target/apidocs/Similarity/Segmenters/package-use.html
target/apidocs/Similarity/Segmenters/Segmenter.html
target/apidocs/Similarity/Segmenters/SyllableSegmenter.html
target/apidocs/Similarity/Segmenters/WordSegmenter.html
target/apidocs/Similarity/Segmenters/class-use/Segmenter.html
target/apidocs/Similarity/Segmenters/class-use/SyllableSegmenter.html
target/apidocs/Similarity/Segmenters/class-use/WordSegmenter.html
target/apidocs/Similarity/SentenceSim/JaccardSimilarity.html
target/apidocs/Similarity/SentenceSim/OldSentenceSimilarity.html
target/apidocs/Similarity/SentenceSim/package-frame.html
target/apidocs/Similarity/SentenceSim/package-summary.html
target/apidocs/Similarity/SentenceSim/package-tree.html
target/apidocs/Similarity/SentenceSim/package-use.html
target/apidocs/Similarity/SentenceSim/SentenceSimilarity.html
target/apidocs/Similarity/SentenceSim/class-use/JaccardSimilarity.html
target/apidocs/Similarity/SentenceSim/class-use/OldSentenceSimilarity.html
target/apidocs/Similarity/SentenceSim/class-use/SentenceSimilarity.html
target/apidocs/Similarity/Service/ChallengeService.html
target/apidocs/Similarity/Service/package-frame.html
target/apidocs/Similarity/Service/package-summary.html
target/apidocs/Similarity/Service/package-tree.html
target/apidocs/Similarity/Service/package-use.html
target/apidocs/Similarity/Service/SimilarityChallengeResult.html
target/apidocs/Similarity/Service/class-use/ChallengeService.html
target/apidocs/Similarity/Service/class-use/SimilarityChallengeResult.html
target/apidocs/Similarity/WordNet/package-frame.html
target/apidocs/Similarity/WordNet/package-summary.html
target/apidocs/Similarity/WordNet/package-tree.html
target/apidocs/Similarity/WordNet/package-use.html
target/apidocs/Similarity/WordNet/SentenceLevelSimilarity.html
target/apidocs/Similarity/WordNet/class-use/SentenceLevelSimilarity.html
target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
target/javadoc-bundle-options/package-list
